.blocks div {
    display:inline-block; /* Делаем блоки по горизонтали */
    background-color: rgba(1, 150, 10, 0.5);
    vertical-align: top;
    font-family: 'Open Sans';
    font-size: 15px;
    text-align: left;
}
.blocks h2 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    color: rgb(200, 255, 118);
    text-align: center;
    margin-bottom: 0;
}
.one {
    margin-top: 30px;
    width: 14%;
    height: auto;
    position: sticky; top: 15px;
    /*border: solid 0.1px white;*/
    min-width: min-content;
    margin-right: 1%;
}
.one p {
    color: white;
}
@media screen and (max-width: 900px) {
    div.one, div.four {
    /*position: relative;
    margin-top: 0;
    margin-bottom: 20px;*/
    display: none;
    /*min-width: 99%;
    font-size: 17px;*/
    }
}
.two {
    /*padding: 0;*/
    /*margin-top: 20px;*/
    /*margin-right: auto;*/
    /*margin-bottom: 15px;*/
    width: 84%;
    /*height: auto;*/
    /*border: solid 0.1px white;*/
}
.two p {
    color: white;
}
@media screen and (max-width: 900px) {
    div.two, div.three {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    /*display: none;*/
    min-width: 99%;
    font-size: 17px;
    }
}
.one-a {
    height: auto;
    padding: 10px 10px 10px 10px;
    /*border-bottom: solid 0.1px white;*/
}
.line-top {
    border-top: solid rgb(200, 255, 118) 3px;
    opacity: 0.4;
    /*width: 90%;*/
    margin-left: 10px;
    margin-right: 10px;
}
.one-b {
    height: auto;
    padding: 0px 10px 10px 10px;
}
.one-c {
    padding: 10px 10px 10px 10px;
    height: auto;
}
.two-a{
    padding: 10px 0px 10px 20px;
    /*margin-right: 10px;*/
    height: auto;
    /*margin-top: 10PX;*/
    /*border: solid white;*/
}
.fig1, .fig2, .fig3 {
    width: 600px;
    float: left;
    padding: 15px 15px 5px 0px;
}
@media screen and (max-width: 900px) {
    .fig1 {
        width: 99%;
    }
}
/*h2 {
    text-align: center;
    color: greenyellow;
}*/
h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: white;
    /*margin: -15px 0px -15px 0px;*/
    letter-spacing: 1px;
    text-decoration: underline white 1px;
    margin-left: 20px;
}
.updoun {
    text-align: center;
    color: rgb(200, 255, 118);
}