.bhead {
    /*display: none;*/
    box-shadow: 7px 7px 20px 0px rgba(1, 1, 1, 0.5);
    /*background-color: rgba(240, 240, 240, 0.400);*/
    /*border:solid 0.1px rgb(197, 21, 21);*/
    text-align: left;
}
.bhead div {
    display: inline-block;
    vertical-align: middle;
}
.left {
    width: 45%;
    /*min-width:min-content;*/
    font-family: 'Rubik';
    font-size: 34px;
    font-weight: 100;
    color:rgba(208, 32, 144, 0.99);
    /*margin: 0px 0% 0% 0%;*/
    /*margin-left: 3%;*/
    /*transform: translateY(-5%);*/
    /*border:solid 0.1px blue;*/
    /*clear: both;*/
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
}
.middle {
    width: 20%;
    /*height: 150px;*/
    margin: 0;
    /*border:solid 0.1px blue;*/
}
.right {
    width: 25%;
    /*border:solid 0.1px blue;*/
    text-align: center;
    margin: 0;
}
.shiblino {
    margin: 0;
    /*margin-top: 3%;
    margin-bottom: 3%;*/
    font-family: 'Inter';
    font-size: 42px;
    font-weight: 600;
    color: black;
    letter-spacing: 6px;
    border: solid 4px black;
    border-radius: 20px;
    padding: 5% 5.5% 5% 8%;
    background-color: aliceblue;
    /*box-shadow: 7px 7px 20px 0px rgba(1, 1, 1, 0.5);*/
    opacity: 0.7;
    /*max-width: max-content;*/
}
@media screen and (max-width: 1000px) {
    .shiblino {
        padding: 4% 4% 4% 6%;
        opacity: 0.9;
    }
    .bhead {
        text-align: center;
        display: inline-block;
        width: 98%;
        padding: 0;
    }
    .middle {
        width: 0%;
        height: 0%;
        margin: 0%;
    }
    .left {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        font-size: 25px;
        margin-top: 5%;
        margin-bottom: 3%;
        text-align: center;
        font-size: 34px;
    }
    .right {
        width: 99%;
        margin-top: 0%;
        margin-bottom: 5%;
        opacity: 0.8;
        padding: 0%;

    }
}