@media screen and (min-width: 1000px) {
    .nav-mob {
    display: none;
    }
}

@media screen and (max-width: 1000px) {
.nav-mob {
    /*margin-bottom: 5px;*/
    margin-top: 10px;
    }
}
.navmob {
    /*display: block;*/
    width: 90%;
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    text-align: center;
    /*padding-left: 20%;*/
    /*height: 17%;*/
    /*background-color: rgba(1, 150, 10, 0.5);*/
    /*border: 0.1px solid white;*/
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    /*box-shadow: 5px 5px 20px 3px rgba(255, 255, 255, 0.9);*/
    /*overflow-x:auto;*/
    /*white-space: nowrap;*/
}
/* Раскрывающееся меню */
.accordion {
    background-color: rgba(1, 150, 10, 0.7);
    font-family: 'Inter';
    font-size: 28px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 98%;
    border: none;
    border-radius: 10px;
    text-align: left;
    padding-top: 3%;
    padding-bottom: 3%;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    margin-top: 1px;
}
.accordion:after {
    content: '☰';
    color: white;
    /*font-weight: bold;*/
    float: left;
    /*position: relative;*/
    margin-right: 15%;
    margin-left: 5%;
}
/*button {
    transition: 1.5s background;
}
button:hover {
    background-color: rgb(208, 32, 144, 0.5);
}*/

.active:after {
    content: "✖";
}

.menu {
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
.menu div {
    display: inline-block;
    font-size: 18px;
    width: 95%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 5%;
    margin-top: 1px;
    background-color: rgb(208, 32, 144, 0.5);
}
