@media screen and (min-width: 1000px) {
    .nav-mob {
    display: none;
    }
}

@media screen and (max-width: 1000px) {
.nav-mob {
    margin-top: 3%;
    }
}
.navmob {
    width: 90%;
    font-family: 'Inter';
    font-size: 24px;
    color: white;
    text-align: center;
    /*border: 0.1px solid white;*/
    border-radius: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    /*box-shadow: 5px 5px 20px 3px rgba(255, 255, 255, 0.9);*/
    margin-bottom: 0.5%;
}
/* Раскрывающееся меню */
.accordion {
    background-color: rgba(1, 150, 10, 0.7);
    font-family: 'Inter';
    font-size: 28px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 98%;
    border: none;
    border-radius: 10px;
    text-align: left;
    padding-top: 3%;
    padding-bottom: 3%;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    margin-bottom: 00.5%;
}
.accordion:after {
    content: '☰';
    color: white;
    float: left;
    margin-right: 15%;
    margin-left: 5%;
    /*border: 0.1px solid white;*/
}
/*button {
    background-color: rgba(1, 150, 10, 0.5);
}
button:hover {
    background-color: rgb(208, 32, 144, 0.5);
}*/

.active:after {
    height: 100%;
    content: "✕";
    /*background-color: rgb(208, 32, 144, 0.5);*/
    /*float: left;*/
    padding: 0%;
    /*border: 0.1px solid white;*/
}

.menu {
    /*width: 95%;*/
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    margin-bottom: 00.5%;
}
.menu div {
    display: inline-block;
    font-size: 20px;
    width: 92%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 6%;
    background-color: rgb(208, 32, 144, 0.5);
}
