h1 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    text-align: center;
    }

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    color: blueviolet;
    text-align: center;
}
.shi {
    width: 100%;
    opacity: 0.8;
    margin-bottom: 20px;
}

/* Чтобы наш следующий блок не заезжал под шапку 
как только страница загрузилась добавим отступ.*/
/*#content {
    scroll-margin-top: 160px;
}*/

